body {
  display: flex;
}

img {
  height: 100vh;
  width: auto;
}

fieldset,
.box {
  display: flex;
  flex-direction: column;
}

fieldset {
  width: 68vw;
  align-self: right;
  gap: 24px;
}

#names,
#contact_info,
#pwds {
  display: flex;
  justify-content: space-evenly;
}

input {
  border: 2px solid #e5e5e5;
  border-radius: 8px;
}
