body {
  font-family: Lato, Arial, sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e3eaf8;
  color: #37373b;
  box-sizing: border-box;
}

.image,
img {
  height: 58em;
  width: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 6px 0;
  width: 36vw;
}

fieldset,
.box {
  display: flex;
  flex-direction: column;
}

fieldset {
  background-color: #d7dde9;
  border: 1px solid #d7dde9;
  width: 68vw;
  height: 80%;
  margin: auto;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#names,
#contact_info,
#pwds {
  display: flex;
  gap: 2.4rem;
  padding-right: 5vw;
}

.box {
  gap: 16px;
  margin-left: 5.4rem;
}

label {
  font-size: 1.2rem;
}

input {
  border: 3px solid #e5e5e5;
  border-radius: 8px;
  padding: 4px;
}

input:focus {
  border: 3px solid blue;
  border-radius: 8px;
  box-shadow: 4px 4px 2px #e5e5e5 inset;
}

.submit {
  display: flex;
  margin-top: 1.2rem;
  gap: 2.4rem;
}

button {
  background-color: #37373b;
  color: #e5e5e5;
  border: 1px solid #37373b;
  border-radius: 6px;
  margin-left: 6.4rem;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}

a {
  color: #37373b;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
